.detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinhar o conteúdo no início do contêiner */
  height: 100vh; /* Altura total da viewport */
  padding: 20px;
}

.detail-box {
  background-color: #f9f9f9; /* Cor padrão */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-top: 20px; /* Espaço superior menor */
}

.detail-box.verde {
  background-color: #d4edda;
}

.detail-box.amarelo {
  background-color: #fff3cd;
}

.detail-box.vermelho {
  background-color: #f8d7da;
}

.detail-box.azul {
  background-color: #d1ecf1;
}

.detail-box.cinza {
  background-color: #e2e3e5;
}

.detail-box.laranja {
  background-color: #f89d48;
}

.detail-box h1 {
  text-align: center;
  color: black; /* Cor do título */
}

.detail-box p {
  margin: 5px 0;
}

.detail-box ul {
  list-style-type: none;
  padding: 0;
}

.detail-box ul li {
  margin: 5px 0;
}

.detail-box h2 {
  margin-top: 20px;
  color: black; /* Cor do subtítulo */
}

.detail-box ul li.gerente {
  font-weight: bold;
  color: darkred; /* Destaque para o gerente */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espaçamento entre a lista e o botão */
}

button.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px; /* Ajuste o padding para corresponder ao tamanho do botão desejado */
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em; /* Ajuste o tamanho da fonte */
  text-align: center;
}

button.edit-button:hover {
  background-color: #0056b3;
}

.back-link-container {
  text-align: center;
  margin-top: 10px;
}

.back-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.back-link:hover {
  color: #0056b3;
}
